<style>
    .c1,
    .c2,
    .c3,
    .c4 {
        height: 250px;
    }

	.c5 {
		height: 520px;
	}

	.single-deal {
		margin: 5px;
	}

	.custom-column {
		padding: 0px;
    }

	.banner-content {
		color:black;
	}

	.carousel .carousel-inner .carousel-item{
		height: 700px;
	}

	.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -40%);
    text-align: center;
    background: transparent; /* Optional: Add a semi-transparent background */
    padding: 20px;
    color: #fff; /* Optional: Set the text color */
    border-radius: 10px; /* Optional: Add some border-radius for a rounded appearance */
	font-size: 1rem;
	font-family: monospace;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -40%);
    text-align: center;
    background: transparent; /* Optional: Add a semi-transparent background */
    padding: 20px;
    color: #fff; /* Optional: Set the text color */
    border-radius: 10px; /* Optional: Add some border-radius for a rounded appearance */
	font-size: 1rem;
	font-family: monospace;
}

</style>



<!-- start banner Area -->
<!-- <section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">

					<div class="row single-slide align-items-center d-flex">
						<div class="col-lg-5 col-md-6">
							<div class="banner-content">
								<h1>Nike New <br>Collection!</h1>
								<p><h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</h5> </p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="/img/banner/banner-1.png" alt="">
							</div>
						</div>
					</div>

					<div class="row single-slide">
						<div class="col-lg-5">
							<div class="banner-content">
								<h1>Nike New <br>Collection!</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="/img/banner/banner-img.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/banner/banner-1.jpg" class="d-block w-100" data-bs-interval="200" style="filter: blur(2px);">
            <div class="carousel-caption d-none d-md-block align-items-center justify-content-center">
                <p style="font-size: 3rem;">E-Niryat Kendra</p>
                <p>Bridging the gap between the local and the global.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/banner/banner.jpg" class="d-block w-100" data-bs-interval="200" style="filter: blur(1px);">
            <div class="carousel-caption d-none d-md-block align-items-center justify-content-center" style="transform: translate(30%, 10%);">
                <p style="font-size: 3rem;">ಇ-ನಿರ್ಯತ್ ಕೇಂದ್ರ</p>
                <p>ಸ್ಥಳೀಯ ಮತ್ತು ಜಾಗತಿಕ ನಡುವಿನ ಅಂತರವನ್ನು ಕಡಿಮೆ ಮಾಡುವುದು.</p>
            </div>
        </div>
	<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button> -->
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
	<br><br><br><br><br><br><br><br><br><br>
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="/img/features/f-icon1.png" alt="">
					</div>
					<h6>ODOP</h6>
					<p>One District One Product</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="/img/features/f-icon2.png" alt="">
					</div>
					<h6>Document Generation</h6>
					<p>Generate Unique Label to Identify the Product</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="/img/features/f-icon3.png" alt="">
					</div>
					<h6>Authentic Products</h6>
					<p>Traditional Products and Authentic Products</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="/img/features/f-icon4.png" alt="">
					</div>
					<h6>Product Recommendation</h6>
					<p>Recommendation of Products using Market Basket Analysis</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-lg-8 col-md-8 custom-column">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100 c1" src="/img/category/c1.jpg" alt="">
							<a href="/img/category/c1.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Kalamkari Textile</h6>
									<h6 class="deal-title">(Andra Pradesh)</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 custom-column">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100 c2" src="/img/category/c2.jpg" alt="">
							<a href="/img/category/c2.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Pottery</h6>
									<h6 class="deal-title">(Manipur)</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 custom-column">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100 c3" src="/img/category/c3.jpg" alt="">
							<a href="/img/category/c3.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Pashmina Shawls</h6>
									<h6 class="deal-title">(Jammu and Kashmir)</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 custom-column">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100 c4" src="/img/category/c4.jpg" alt="">
							<a href="/img/category/c4.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Mysore Silk</h6>
									<h6 class="deal-title">(Mysore)</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 custom-column">
				<div class="single-deal">
					<div class="overlay"></div>
					<img class="img-fluid w-100 c5" src="/img/category/c5.jpg" alt="">
					<a href="/img/category/c5.jpg" class="img-pop-up" target="_blank">
						<div class="deal-details">
							<h6 class="deal-title">Madhubani Paintings</h6>
							<h6 class="deal-title">(Bihar)</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Latest Products</h1>
						<p>Latest Products added to e-Niryat with an offer</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[0].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[0].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[0].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[0].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[0].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[0].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[1].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[1].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[1].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[1].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[1].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[1].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[2].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[2].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[2].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[2].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[2].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[2].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[3].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[3].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[3].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[3].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[3].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[3].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[4].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[4].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[4].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[4].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[4].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[4].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[5].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[5].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[5].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[5].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[5].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[5].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[6].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[6].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[6].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[6].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[6].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[6].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="<%= products.products[7].images[0]%>" alt="">
						<div class="product-details">
							<h6><%= products.products[7].name%></h6>
							<div class="price">
								<h6>₹<%= products.products[7].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[7].priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= products.products[7].slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= products.products[7].slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Product of the Day</h1>
						<p>Random Product for the day.	</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single product -->
				<div class="col-lg-3 col-md-6" style="padding-left: 450px; padding-right: 100px;">
					<div class="single-product" style="width: 15rem; height: 13rem;">
						<img class="img-fluid" src="<%= productas.productas.images[0]%>" alt="">
						<div class="product-details">
							<h6><%= productas.productas.name%></h6>
							<div class="price">
								<h6>₹<%= productas.productas.priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= productas.productas.priceInInr+1000%></h6>
							</div>
							<div class="prd-bottom">

								<a href="/cart/add?productSlug=<%= productas.productas.slug %>" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/products/<%= productas.productas.slug %>" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 no-padding exclusive-left">
				<div class="row clock_sec clockdiv" id="clockdiv">
					<div class="col-lg-12">
						<h1>Exclusive Hot Deal Ends Soon!</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
					<div class="col-lg-12">
						<div class="row clock-wrap">
							<div class="col clockinner1 clockinner">
								<h1 class="days">150</h1>
								<span class="smalltext">Days</span>
							</div>
							<div class="col clockinner clockinner1">
								<h1 class="hours">23</h1>
								<span class="smalltext">Hours</span>
							</div>
							<div class="col clockinner clockinner1">
								<h1 class="minutes">47</h1>
								<span class="smalltext">Mins</span>
							</div>
							<div class="col clockinner clockinner1">
								<h1 class="seconds">59</h1>
								<span class="smalltext">Secs</span>
							</div>
						</div>
					</div>
				</div>
				<a href="/products?limit=12&page=1" class="primary-btn">Shop Now</a>
			</div>
			<div class="col-lg-6 no-padding exclusive-right">
				<div class="active-exclusive-product-slider">
					<!-- single exclusive carousel -->
					<div class="single-exclusive-slider">
						<img class="img-fluid" src="<%= products.products[7].images[0]%>" alt="">
						<div class="product-details">
							<div class="price">
								<h6>₹<%= products.products[7].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[7].priceInInr+1000%></h6>
							</div>
							<h4><%= products.products[7].name%></h4>
							<div class="add-bag d-flex align-items-center justify-content-center">
								<a class="add-btn" href="/cart/add?productSlug=<%= products.products[7].slug %>"><span class="ti-bag"></span></a>
								<span class="add-text text-uppercase">Add to Bag</span>
							</div>
						</div>
					</div>
					<!-- single exclusive carousel -->
					<div class="single-exclusive-slider">
						<img class="img-fluid" src="<%= products.products[4].images[0]%>" alt="">
						<div class="product-details">
							<div class="price">
								<h6>₹<%= products.products[4].priceInInr.toFixed(2)%></h6>
								<h6 class="l-through">₹<%= products.products[4].priceInInr+1000%></h6>
							</div>
							<h4><%= products.products[4].name%></h4>
							<div class="add-bag d-flex align-items-center justify-content-center">
								<a class="add-btn" href="/cart/add?productSlug=<%= products.products[4].slug %>"><span class="ti-bag"></span></a>
								<span class="add-text text-uppercase">Add to Bag</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
	<div class="container">
		<div class="row">
			<a class="col single-img" href="#">
				<img class="img-fluid d-block mx-auto" src="/img/brand/1.png" alt="">
			</a>
			<a class="col single-img" href="#">
				<img class="img-fluid d-block mx-auto" src="/img/brand/2.png" alt="">
			</a>
			<a class="col single-img" href="#">
				<img class="img-fluid d-block mx-auto" src="/img/brand/3.png" alt="">
			</a>
			<a class="col single-img" href="#">
				<img class="img-fluid d-block mx-auto" src="/img/brand/4.png" alt="">
			</a>
			<a class="col single-img" href="#">
				<img class="img-fluid d-block mx-auto" src="/img/brand/5.png" alt="">
			</a>
		</div>
	</div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Deals of the Week</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r1.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r2.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r3.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r5.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r6.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r7.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r9.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r10.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/img/r11.jpg" alt=""></a>
							<div class="desc">
								<a href="#" class="title">Black lace Heels</a>
								<div class="price">
									<h6>$189.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ctg-right">
					<a href="#" target="_blank">
						<img class="img-fluid d-block mx-auto" src="/img/category/c5.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End related-product Area -->
